<h3>Cart</h3>

<!-- display the product count and price -->
<!-- "async" pipe is use to subscribe to the observable -->
<div class="counter">Counter: {{ countProducts$ | async }}</div>
<div class="counter">
  Total Price: {{ totalPrice$ | async | number: '1.2-2' }}
</div>

<p>
  <a routerLink="/shipping">Shipping Price</a>
</p>

<div class="cart-item" *ngFor="let item of cartEntries$ | async">
  <span>{{ item.product.name }}</span>
  <span>${{ item.product.price }}</span>
  <span>{{ item.count }}</span>
</div>

<!-- tis purchase form will trigger the onClick() method -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name"> Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="address"> Address</label>
    <input id="address" type="text" formControlName="address" />
  </div>

  <button class="button" type="submit">Purchase</button>
  <br />
  <br />
  <button id="clear" type="submit" (click)="clearEntries()">Clear Cart</button>
</form>
